* {
  font-family: 'Roboto Condensed', sans-serif;
  color: #323E43;
}

.noPadding {
  padding: 0 !important;
}

.main {
  background-color: powderblue;
}

.title {
  font-size: 3.2rem !important;
  padding: 1.5rem;
  font-family: 'Fredoka One', cursive !important;
  color: #323E43;
}

.search {
   position: relative;
   background-color:#E0FFF1;
   padding: 1rem 1.5rem;
 }
.search input {
  cursor: pointer;
  width: 70%;
  font-size: 1.2rem;
  text-indent: 2rem;
  margin: 0 auto;
}

.search .fa-search {
  position: absolute;
  top: 1.7rem;
  left: 21%;
  color: #889297;
  font-size: 1.3rem;
}

.button{
  padding: 0.75rem 1rem !important;
  background-color: #AAD7D1 !important;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.08rem;
}

.active {
  background-color: #64B6AC !important;
}

a {
  color: #44545C !important;
}

.item {
  display: flex;
  justify-content: start;
  background: #98c7c2;
  padding:1rem 1.5rem;
  border-bottom: #FCFFFD solid 0.1rem;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

.leftMargin {
  margin-left: 3%;
}

.namePlus {
  width: 70%;
}

.logoImage {
  width: 4rem;
  height: 4rem;
}

.fa.fa-circle {
  font-size: 2.5rem;
  color: #FCFFFD;
}

.footer {
  margin: 1rem auto;
}
